<div class="page-header">
  <h1>{{point.id ? 'Edit realty' : 'Add realty'}}</h1>
</div>

<form class="form-horizontal" role="form" ng-submit="savePoint(point)" name="formPoint" enctype="multipart/form-data" novalidate>
  <div class="form-group" ng-class="{'has-error': formPoint.type.$invalid}">
    <label for="inputType" class="col-sm-2 control-label">Type</label>
    <div class="col-sm-10">
      <select class="form-control" id="inputType" ng-model="point.type_id" name="type_id" ng-options="types_select.id as types_select.title for types_select in types_selects" >
        <option value="">Please select type of realty...</option>
      </select>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': formPoint.price.$invalid}">
    <label for="inputPrice" class="col-sm-2 control-label">Price</label>
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="col-sm-10">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input type="text" class="form-control" id="inputPrice" ng-model="point.price" name="price" ng-maxlength="255" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPhone" class="col-sm-2 control-label">Phone number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPhone" maxlength="13" name="phone" international-phone-number ng-model="point.phone">
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': formPoint.place.$invalid}">
    <label for="inputPlace" class="col-sm-2 control-label">Place</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPlace" ng-model="point.place" name="place" ng-maxlength="255" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <img src="http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers={{point.latitude}}%2C{{point.longitude}}" %>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': formPoint.avatar.$invalid}">
    <label for="inputAvatar" class="col-sm-2 control-label">Main photo</label>
    <div class="col-sm-10">
      <span class="btn btn-default btn-file">
        <input type="file" ng-model="point.avatar" id="inputAvatar" name="avatar">
      </span>
    </div>
  </div>
  <div ng-hide="!point.avatar_url" class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <img class="img-responsive img-thumbnail" src="{{point.avatar_url}}">
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': formPoint.picture.$invalid}">
    <label for="inputAvatar" class="col-sm-2 control-label">Photos</label>
    <div class="col-sm-10">
      <span class="btn btn-default btn-file">
        <input type="file" multiple ng-model="point.picture" id="inputPicture" name="pictures[]">
      </span>
    </div>
  </div>
  <div ng-hide="!point.pics" class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
     <img ng-repeat="(pic_id, pic) in point.pics" class="img-responsive img-thumbnail" onmouseover="xvar = this.src; this.src='trash1280.png';" onmouseout="this.src = xvar" style="margin-top: 10px;" ng-click="deletePointPhoto(point.id, pic_id)" id="pic_{{pic_id}}" ng-src="{{pic}}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Save Point</button>
      <a href="/dashboard" class="btn btn-default">Cancel</a>
    </div>
  </div>
</form>
